.container {
  width: 100%;
  height: 28.5vh;
  border-radius: 10px;
  border: 1px solid rgb(229, 234, 239);
  padding: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.titleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.spacer {
  width: 40px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}