/* SportsBar.module.css */
.bar {
  background-color: "white"; 
;
}

.tab {
  color: "black" !important; /* Color of text and icon */
}

.tab.Mui-selected {
  color: "black" !important; /* Color of text and icon when selected */
  background-color: #4a90e2 !important; /* Optional: if you want to change the background of the selected tab */
}
